* {
  font-family: sans-serif; /* Change your font family */
}


.center {
  margin-top: 100px;
  border-collapse: collapse;
  margin: 25px 0;
  margin-left:auto; 
  margin-right:auto;
  font-size: 0.9em;
  min-width: 400px;
  max-height: 200px;
  overflow: auto;
  border-radius: 5px 5px 0 0;
  scroll-padding-bottom: auto;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.center tr th {

  background-color: #5DADE2;
  color: #ffffff;
  border-right: 1px solid #009879;
  border-left: 1px solid #f3f3f3;  
  text-align:center;
  padding: 15px 15px;
  font-weight: bold;}

.content-table  td {
  border-bottom: 1px solid #ffffff;
  padding: 12px 15px;
}

.content-table td:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table  td { 
  border:inset 1px #000;
  border-bottom: 2px solid #5DADE2;
  border-right: 1px solid #009879; 
}
.scrll{
  font-size: 30px;
  color:#009879;
}
.container {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}
.container .btn-holder {
  position: absolute;
  bottom: 20px;
  left: 20px;
  justify-content: flex-end;
  display: flex;
}

.btn{
  position: absolute;
  left: 750px;
  padding: 15px 32px;
  color: white;
  border-radius: 25px;
  background-color: #009879;
}