body, html {
  height: 70%;
  margin: 5;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;

}
.image bg{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;

}


.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.5); /* Black w/opacity/see-through */
  color: white;
  font-weight: Arial;
  border: 3px solid #f4eeee;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 80px;
  text-align: center;
}

.bg-te h1{ 
  font-size:85px !important;
  font-weight: 900;
  background-color: #000;
  color:#fff;
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}
.bg-te h1:nth-child(2){ 
  font-size:85px !important;
  font-weight: 900;
  position: absolute;
  background-color: #fff;
  color:#000;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%); 
  clip-path: inset(-1% -1% 50% -1%);
  text-align: center;
}
.bg-t h1{
  font-size:150%;
  color: #00FF7F;
  font-weight: 900;
  position: absolute;
  top: 40%;
  left: 42%;
  background: #FF8C00;
  transform: skew(60deg, -30deg) scaleY(0.667);
  text-align: center;
}
.bg-t h1:nth-child(2){
  font-size:150%;
  color: #4169E1;
  font-weight: 900;
  position: absolute;
  top: 44%;
  left: 44.5%;
  background: #ffffff;
  transform: skew(0deg, -30deg) scaleY(1.337);
  text-align: center;
}
.bg-t h1:nth-child(3){
  font-size:150%;
  color: #FF6347;
  font-weight: 900;
  position: absolute;
  top: 47.5%;
  left: 44.5%;
  background: #008000;
  transform: skew(60deg, -30deg) scaleY(0.667);
  text-align: center;
}
#wholepage{
  width: 900;
  margin-left:auto;
  margin-right: auto; 
}



