{% extends "h1.html" %}
{% block body %}
{%load static%}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>
<div class="wholepage">	
<div class="image">
</div>
</div>

<div class="bg-te">
  <h1>🙏WELCOME👋</h1> 
  <h1>🙏WELCOME👋</h1>
</div>


<div class="bg-text">
  <h2 style="color:red;">TELEVISION CHANNEL SHEDULE</h2>
  <p>You can search for different channel schedule and can know or get present running programs,shows,news....soo....on</p>
  <p>for more understanding Go to <"DISCRIPTIVE">
  </p>

</div>
</body>
{% endblock %}
</html>