{% extends "h1.html" %}
{% block body %}
{% load static%}
<!DOCTYPE html>  
<html>  
    <head> 
        <title>TV Channel shedule</title>          
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <link rel="stylesheet" type="text/css" href="{%static 'css/search0.css'%}">    
        <form action="{% url 'all' %}" method="POST" style="color:blue; text-align:center;">
            {% csrf_token %}  
            <div class="container p-6 my-4 bg-secondary text-white border w3-round-xlarge">
            <div id="lang" class="lang">
              <h1><u style="color:red;text-align:center;font-size:30px;font-family:Brush Script MT;">All Movies</u></h1><br></br>
                <label style="color:white;text-align:center;" >Select Your Language: </label>
            <select id="lang" name="lang" class="due">                  
                <option value="Telugu" selected="selected">Telugu</option>
                <option value="Malayalam">Malayalam</option>
                <option value="Tamil">Tamil</option>
                <option value="Kannada">Kannada</option>
                <option value="Gujarati">Gujarati</option>
                <option value="French">French</option>
                <option value="Marathi">Marathi</option>
                <option value="Punjabi">Punjabi</option>
                <option value="Urdu">Urdu</option>
                <option value="Bengali">Bengali</option>
                <option value="Odia">Odia</option>
                <option value="Assamese">Assamese</option>
                <option value="Bhojpuri">Bhojpuri</option>
            </select><br></br> 
            <div > <input type="submit" value="proceed" style="margin-left: 20%" ></div>
            
        </div>
    </div>
        </form> 
        </head> 
    <body>
      <body id="bg" style="background-image:url('{% static 'images/imagee2.jpg' %}');"></body>
      
    </body>
<style>
     @media (min-width: 1200px) {
  .container {
    width: 500px;
    border: 2px solid red;
  padding: 10px;
  border-radius:  50px 50px;
  }
div.lang{
  text-align: center;  
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 0px;
}

</style> 
{% endblock %}

    </html> 
