{% extends "h1.html" %}
{% block body %}
{% load static %}
<!DOCTYPE html>
<html>
<head> 
        <title>TV Channel shedule</title>          
        <meta name = "viewport" content = "width = device-width, initial-scale = 0.5">
        <link rel="stylesheet" type="text/css" href="#">    
      <form action="#" method="POST" style="color:blue; text-align:center;">
            {% csrf_token %}
<body id="bg" style="background-image:url('{% static 'images/total.jpg' %}');">
<div class=hello >
	
  <h2 style="background-color:Tomato;">TELEVISION CHANNEL SHEDULE</h2>
  <p >You can search for different channel schedule and can know or get present running programs,shows,news....soo....on</p>
  <p>for more Go to <"DISCRIPTIVE"></p>
</div>
</body>
</form>
</head>
<style type="text/css">

.hello {
  background-color: #b4b4b4;
  margin: auto;

  width: 40%;
  padding: 10px;
  position: relative;
  left :30px;
  top:200px;
  border-style: dashed;
  border: 2px solid #ffa500;
  border-radius: 12px;

}

.hello h2{
	background-color:tomato;
	color: white;
}
.hello p{
	color: #fff347;
}
</style>
{% endblock %}
</html>