<html>
<head>
	<script>
    {
	var y=['a','b','c'];
	var c="<option value='0'>select</option>"
	for (let i=0;i<y.length;i++){
		console.log(y[i]);
		}


    	
        </script>
    </head>
<body onload="createoptions()">
	<label for='lang'>language</label>
    <select id="input" onchange="random_function()">
        <option>select language</option>
        <option>Telugu</option>
        <option>Hindi</option>
        <option>Malayalam</option>
        <option>English</option>
        <option>Tamil</option>
        <option>Kannada</option>
        <option>Gujarati</option>
        <option>French</option>
        <option>Marathi</option>
        <option>Punjabi</option>
        <option>Urdu</option>
        <option>Bengali</option>
        <option>Odia</option>
        <option>Nepali</option>
        <option>Assamese</option>
        <option>Bhojpuri</option>                            
        </select>
		<div>
		<label for='yr'>year</label>
        <select id="yr">
    	</select>
        </div>
    </body>
</html>
