{% extends "h1.html" %}
{% block body %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>schedule</title>
  <link rel="stylesheet" type="text/css" href="{%static 'css/table.css'%}">
</head>
<body>
</table>
</body>

<script>
 var d = new Date(),
      h = (d.getHours()<10?'0':'') + d.getHours(),
      m = (d.getMinutes()<10?'0':'') + d.getMinutes();
  phr= parseInt(h);
  pmnt= parseInt(m);
  var tm={{time|safe}};
  var pro={{programs|safe}}; 
  var typ={{type|safe}}; 
  var dis={{diss|safe}}; 
  var hr={{hr|safe}}; 
  var mnt={{mn|safe}}; 
  k=0;
 document.write("<table class=\"center\"><tr><th>Timing</th><th>Program Name</th><th>Type</th><th>Detail</th></tr>")
  for (var i in (Object.keys(tm))){
    k+=1
    if(phr>=hr[i] && phr<hr[k]){
       document.write("<tr class=\"content-table\" style=\"color: #00FF00\"><td >"+tm[i]+"</td><td >"+pro[i]+"</td><td >"+typ[i]+"</td><td >"+dis[i]+"</td></tr>"); } 

       
    else if(hr[i]==phr && hr[k]==phr){
        document.write("<tr class=\"content-table\" style=\"color: #00FF00\"><td >"+tm[i]+"</td><td >"+pro[i]+"</td><td >"+typ[i]+"</td><td >"+dis[i]+"</td></tr>");   
      }
    else if(hr[i]>phr){
      document.write("<tr class=\"content-table\" style=\"color: #000000\"><td >"+tm[i]+"</td><td >"+pro[i]+"</td><td >"+typ[i]+"</td><td >"+dis[i]+"</td></tr>");}
    else{
      document.write("<tr class=\"content-table\" style=\"color: #FF6347\"><td >"+tm[i]+"</td><td >"+pro[i]+"</td><td >"+typ[i]+"</td><td >"+dis[i]+"</td></tr>");}}
  
  
</script>
{% endblock %}

</html>