{% extends "h1.html" %}
{% block body %}
<html>
<body>
<script language="JavaScript">
var d = new Date();
h = (d.getHours()<10?'0':'') + d.getHours();
m = d.getMinutes();
//document.write(m);
var tm='{{time}}';
var hr='{{r}}';
var mint='{{s}}';
var pro='{{programs}}';

tm=tm.slice(1,-1);
tm=tm.split(',');

hr=hr.slice(1,-1)
hr=hr.split(',');

mint=mint.slice(1,-1)
mint=mint.split(',');

pro=pro.slice(1,-1);
pro=pro.split(',');

if (h[0]==0){
	h=h.slice(1);
}
h=parseInt(h, 10);
m=parseInt(m, 10);
document.write(m);
h=15;
m=25;
for(var j=0;j<=tm.length-1;j++){
	k=hr[j];
	min=mint[j];
	if(k!=0)
}
for(var j=0;j<=tm.length-1;j++){
	k=hr[j];
	min=mint[j];
	if(k==h){
		if(m>=min){
			l=tm[j]+':'+pro[j];
			document.write(l.fontcolor( "red" ));
			document.write("<br />");	}
		else{
			l=tm[j]+':'+pro[j];
			document.write(l.fontcolor( "blue" ));
			document.write("<br />");	
		}
}
	else{
		l=tm[j]+':'+pro[j];
		document.write(l.fontcolor( "blue" ));
		document.write("<br />");	

}
		

}
// end JS code hide -->
</script>
<h1>h<h1>
</body>
 {% endblock%}
</html>


    