{% extends "h1.html" %}
{% block body %}
{% load static%}
<!DOCTYPE html>  
<html>  
    <head> 
        <title>TV Channel shedule</title>          
        <meta name = "viewport" content = "width = device-width, initial-scale = 0.5">
        <link rel="stylesheet" type="text/css" href="{%static 'css/search0.css'%}">    
        <form action="{% url 'test' %}" method="POST" style="color:blue,text:center">
            {% csrf_token %}  
            <div class="hello">
            <div id="lang" class="lang" style="text-align: center;  padding-top: 20px; padding-right: 30px;  padding-bottom: 70px;padding-left: 0px;">
                <h1><u style="color:red;text-align:center;font-size:30px;font-family:Brush Script MT;">Selected Schedule</u></h1><br></br>
                <label style="text-align:center; font-size:20px;" >Select Your Language: </label>
            <select id="lang" name="lang" class="due"style="font-size:20px;">                  
                <option value="Telugu" selected="selected">Telugu</option>
                <option value="Malayalam">Malayalam</option>
                <option value="Tamil">Tamil</option>
                <option value="Kannada">Kannada</option>
                <option value="Gujarati">Gujarati</option>
                <option value="French">French</option>
                <option value="Marathi">Marathi</option>
                <option value="Punjabi">Punjabi</option>
                <option value="Urdu">Urdu</option>
                <option value="Bengali">Bengali</option>
                <option value="Odia">Odia</option>
                <option value="Assamese">Assamese</option>
                <option value="Bhojpuri">Bhojpuri</option>
            </select><br></br>

                <label for="appt" style="font-size:20px;">Select a time:</label>
                <input type="time" id="appt" name="appt" value="" required style="font-size:20px;">
            </form>  <br></br> </input>  
                <input type="submit" value="proceed">
            
        </div>
        </form> 
        </head> 
    </div>
    <body>
         
    </body>
<style type="text/css">
.hello {
  background-color: #D3F9BD;
  margin: auto;

  width: 40%;
  padding: 10px;
  position: relative;
  left :30px;
  top:200px;
  border-style: dashed;
  border: 5px solid black;
  border-radius: 12px;

}

.hello lang{
  background-color:tomato;
  color: white;
}




</style>

    </html> 
{% endblock %}