<!DOCTYPE html>
<html>
<body>

<p>Click the button to do a loop which will skip the step where i is equal to 3.</p>

<button onclick="myFunction()">Try it</button>

<p id="demo"></p>
</body>
</html>

  <script type="text/javascript">
  function timeNow(i) {
      var d = new Date(),
      h = (d.getHours()<10?'0':'') + d.getHours(),
      m = (d.getMinutes()<10?'0':'') + d.getMinutes();
      i.value = h + ':' + m;
}
  </script>
      <a onclick="timeNow(test1)" href="#">SET TIME</a>
    <input id="test1" type="time"/>
    <div id="test"></div>